@import "../styles/app";

// alert
#alert {
  #alerta {
    padding: 1.45rem;
    padding-left: 2rem;
    position: fixed;
    width: 16.5rem;
    height: 10.75rem;
    right: 5rem;
    top: 99px;
    border-radius: 30px;
    z-index: 10;
  }
  #contenedorCloseAlert {
    display: flex;
    justify-content: flex-end;
  }
  .contenedorAlertPosition {
    display: flex;
    align-items: center;
  }
  .iconoCloseAlert {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 8px;
    margin-left: 8px;
    background: transparent;
  }
  #titleAlert {
    font-weight: bold;
    font-size: 1.6625rem;
    margin: 0px 0.625rem;
  }
  .textAlertUp {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.625rem 0px;
  }
  .textAlertDown {
    font-weight: normal;
    font-size: 0.875rem;
    margin: 0px 0.625rem;
  }
}

////////////////////////////////////////////
////////////////////////////////////////////

// wallet alert
#walletAlert {
  #alertaWallet {
    /* Auto layout */
    padding: 1.45rem;
    padding-left: 2rem;
    position: fixed;
    width: 27.5rem;
    height: 11.55rem;
    right: 5rem;
    top: 99px;
    border-radius: 30px;
    z-index: 10;
  }
  #contenedorAlertWallet {
    margin-left: 7% !important;
  }
}