@import "../../styles/app";

// error
#error {
  background: var(--fondo);
  .error-page {
    height: 100%;
    .v-main__wrap {
      padding: 4rem $content-padding 70px $content-padding;
    }
  }
}

////////////////////////////////////////////////////
////////////////////////////////////////////////////
#containerNotFound {
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text404 {
    font-size: clamp(10em, 20vw, 22em);
    background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .textNotFound {
    font-size: clamp(2em, 3vw, 3.6em);
    color: #FFFFFF;
  }
  #buttonNotFound {
    font-size: 1.8rem;
    color: #FFFFFF;
    width: clamp(8em, 20vw, 20em);
    height: 4.75rem;
    background: linear-gradient(90.11deg, #D64059 -9.74%, #5E489D 111.08%);
    border-radius: 50.6557px;
  }
}
