/* global colors */
:root {
  --fondo: #1d1c21;
  --color: #FFFFFF;
  --colorInverted: #111011;
  --colorCartas: #2b2a30;
  --colorCartasInverted: #FFFFFF;
  --colorCartas2: #cccccc;
  --colorCartas3: #2b2a30;
  --colorFondoCartas: #1a1a1a;
  --colorHover: #080e35;
  --colorScroll: #656565;
  --colorCartaScroll: #cccccc;
  --colorFooter: #2b2a30;
  --mix-blend-mode: screen;
}
:is(span, p, h1, h2, h3, h4, h5, h6, .v-list-item__title, .v-btn span, button, label) {
  color: #FFFFFF
}
:is(.v-btn span, button) {
  color: #000000
}
:is(.v-icon, a) {
  color: #FFFFFF !important;
}

/* personal clases */
.color {
  color: #FFFFFF !important;
}
.colorInverted {
  color: #111011 !important;
}
.colorCartas {
  background-color: #000000 !important;
}
.colorCartasInverted {
  background-color: #FFFFFF !important;
}
.filter {
  filter: invert(100%) !important;
}
.filterInverted {
  filter: invert(0%) !important;
}
.colorSVG {
  fill: #111011 !important;
}
.colorSVGInverted {
  fill: #FFFFFF !important;
}
.colorCartas2 {
  background-color: #182833 !important;
}
.colorFooter {
  color: #656565 !important;
}

/* ////////////////////////////////////////////// */
